# Ignore Release Template
ReleaseTemplate.md
# Ignore Python Caches
user_data/hyperopts/__pycache__/
user_data/strategies/__pycache__/
Legacy MoniGoMani/user_data/hyperopts/__pycache__/
Legacy MoniGoMani/user_data/strategies/__pycache__/
# Ignore VSCodium Workspace
workspace.code-workspace
# Ignore JetBrains .idea Folder
.idea/