[requires]
python_version = "3.8"

[packages]
art = "==5.2"
coloredlogs = "==15.0.1"
fire = "==0.4.0"
inquirerpy = "==0.2.0"
logger = "==1.4"
plotly = "==5.1.0"
PyYAML = "==5.4.1"
shell_command = "==0.1"
flake8 = "==3.9.2"
pre-commit = "==2.10.0"
pylint = "==2.6.0"
pytest = "==6.2.4"
gitpython = "*"
