[packages]
art = "==5.3"
coloredlogs = "==15.0.1"
cryptography = "==35.0.0"
discord-webhook = "==0.14.0"
distro = "==1.6.0"
fire = "==0.4.0"
gitdb = "==4.0.7"
humanfriendly = "==10.0"
inquirerpy = "==0.2.4"
logger = "==1.4"
plotly = "==5.3.1"
prompt-toolkit = "==3.0.20"
pygit2 = "*"
python-rapidjson = "==1.4"
PyYAML = "==5.4.1"
six = "==1.16.0"
smmap = "==4.0.0"
tenacity = "==8.0.1"
termcolor = "==1.1.0"
wcwidth = "==0.2.5"
yaspin = "==2.1.0"

[dev-packages]
flake8 = "==3.9.2"
isort = "*"
pre-commit = "==2.15.0"
pylint = "==2.11.1"
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
pytest-mock = "*"
