# This workflow is used by test-report.yml
# to bypass a security restriction in GitHub Actions
# which resulted in failing workflows at PR's
# See & read: https://github.com/dorny/test-reporter#README
name: "CI"
on:
  pull_request:
    branches: [ master, development ]
  
jobs:
  analyze:
    name: Unit testing
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv install --dev
      - name: Test with pytest
        run: |
          pipenv run pytest -c pytest.ini tests/
      - name: Upload pytest test results
        uses: actions/upload-artifact@v2
        with:
          name: pytest-results
          path: tests/junit/test-results.xml
        if: ${{ always() }}
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test Report
          path: tests/junit/test-results*.xml
          reporter: java-junit
